/* Global Styles */
 
*{
    padding: 0; /* Reset all padding to 0 */
    margin: 0; /* Reset all margin to 0 */
}
 
body{
    background: #F9F9F9; /* Set HTML background color */
    font: 14px "Lucida Grande";  /* Set global font size & family */
    color: #464646; /* Set global text color */
}
 
p{
    margin: 10px 0px 10px 0px; /* Add some padding to the top and bottom of the <p> tags */
}
 
/* Header */
 
#header{
    height: 45px; /* Set header height */
    background: #464646; /* Set header background color */
}
 
#header h3{
    color: #FFFFF3; /* Set header heading(top left title ) color */
    padding: 10px; /* Set padding, to center it within the header */
    font-weight: normal; /* Set font weight to normal, default it was set to bold */
}
 
/* Wrap */
 
#wrap{
    background: #FFFFFF; /* Set content background to white */
    width: 615px; /* Set the width of our content area */
    margin: 0 auto; /* Center our content in our browser */
    margin-top: 50px; /* Margin top to make some space between the header and the content */
    padding: 10px; /* Padding to make some more space for our text */
    border: 1px solid #DFDFDF; /* Small border for the finishing touch */
    text-align: center; /* Center our content text */
}
 
#wrap h3{
    font: italic 22px Georgia; /* Set font for our heading 2 that will be displayed in our wrap */
}
 
/* Form & Input field styles */
 
form{
    margin-top: 10px; /* Make some more distance away from the description text */
}
 
form .submit_button{
    background: #F9F9F9; /* Set button background */
    border: 1px solid #DFDFDF; /* Small border around our submit button */
    padding: 8px; /* Add some more space around our button text */
}
 
input{
    font: normal 16px Georgia; /* Set font for our input fields */
    border: 1px solid #DFDFDF; /* Small border around our input field */
    padding: 8px; /* Add some more space around our text */
}

 div.banner {
  width: 100%;
  height: 300px;
  text-align: center;
  margin-bottom: 0.8em;
  background-image: url('https://mauihikes.org/planting/Auwahi_Dryland_Forest.JPG');
  background-size: 100% 100%;
  background-repeat: no-repeat;
 }

 p.banner {
  color: white;
  width: 100%;
  height: 100%;
  padding-top: 5em;
 }

 span.banner {
  vertical-align: middle;
  font-size: 4em;;
  text-shadow: 2px 2px 10px darkgreen;
 }

 span.helptext {
	 color: darkblue;
 }
 
.homeButton {
  border: 2px solid #73AD21;
  background-color: rgba(150,255,150,0.75);
  color: black;
  font-size: .8em;
  font-weight: normal;
  border-radius: 6px; 
  line-height: 1.5em;
  padding: 0.3em;
  text-transform: none;
	position: fixed;
	top: 10px;
	leftt: 0px;
	z-index: 200000;
}

 @media only screen and (max-width:640px) {
     span.banner {
 	     font-size: 2.5em; !important;
     }
 }
